button{
    background: rgb(1, 132, 12);
    border: 1px solid rgb(1, 132, 12);
    color: white;
    height: 50px;
    width: 100px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
    border-radius: 15px !important;
}
.input{
    height: 50px;
    border-radius: 15px;
}
button:hover{
    background: white;
    color: rgb(1, 132, 12);
}
span{
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.image{
    border-radius: 45px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.8);
}
nav{
    background: rgb(1, 132, 12);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}